@import '../variables';

#side-nav{
    background-color: lighten(black, 8%);
    width: 200px;
    min-height: 100vh;
    a{
        color: rgba(255,255,255,.7);
    }
    .fa-map-pin{
        font-size: 1.3rem;
        padding-left: 3px;
        margin-right: .3rem;
    }
    .nav-link{
        transition: opacity .3;
        &:hover{
            opacity: .6;
        }
    }
}